<p>Hiya <%= @user.username %>,</p>

<p>Seems you've forgotten your password o(╥﹏╥)o But fret not! Help is here!!!</p>

<p>To reset your password, just click the link below (~ಠ◡ಠ)~ <br>

<%= link_to "Reset!", edit_password_reset_url(@user.reset_token, email: @user.email) %></p>
<p>Warning! This link will expire in 2 hours so JUST DO IT!!!</p>