/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face {
    font-family: 'SciFly';
    src: url('SciFly-Sans.ttf') format('ttf'),
    		 url('SciFly-Sans.woff2') format('woff2'),
         url('SciFly-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	color: #fff;
	font-family: "Raleway";
	font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
	min-height: 100vh;
	height: 100%;
	background: rgb(15,14,17);
	background: -moz-linear-gradient(top, rgba(15,14,17,1) 0%, rgba(23,21,25,1) 100%);
	background: -webkit-linear-gradient(top, rgba(15,14,17,1) 0%,rgba(23,21,25,1) 100%);
	background: linear-gradient(to bottom, rgba(15,14,17,1) 0%,rgba(23,21,25,1) 100%);
}

main {
	position: relative;
	min-height: calc(100vh - 100px);
}

.btn-generic {
	float: right;
	border: none;
	background-color: transparent;
	color: rgba(2255,255,255,1);
	font-family: "SciFly";
	font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
	text-transform: uppercase;
	&:hover {
		color: rgba(2255,255,255,.5);
	}
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}