.password-heading {
	font-family: "SciFly";
	font-size: calc(36px + (100 - 36) * ((100vw - 320px) / (1920 - 320)));
	text-transform: uppercase;
}

.btn-password {
	margin-top: 10px;
	float: right;
	border: none;
	background-color: transparent;
	color: rgba(2255,255,255,1);
	font-family: "SciFly";
	font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
	text-transform: uppercase;
	&:hover {
		color: rgba(2255,255,255,.5);
	}
}