<nav class="navbar navbar-expand-md">
	<!--Home Page-->
	<%= link_to "Saturn", root_path, class: "navbar-brand offset-1" %>

<!--Navigation Button-->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars"></i>
	</button>

<!--Navigation Links-->
	<div class="collapse navbar-collapse" id="navContent">
		<ul class="navbar-nav">
			<!--About Page-->
			<li class="nav-item">
				<%= link_to "About", "#", class: "nav-link" %>
			</li>
			<!--Live Stream Page-->
			<li class="nav-item">
				<%= link_to "Live Stream", "#", class: "nav-link" %>
			</li>
			<!--Contact Page-->
			<li class="nav-item">
				<%= link_to "Contact", "#", class: "nav-link" %>
			</li>
			<!--Social Media Links-->
			<li class="nav-item">
				<a href="">
					<i class="fab fa-twitch"></i>
				</a>
				<a href="">
					<i class="fab fa-youtube"></i>
				</a>
				<a href="">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>